/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env.*.php
.env.php
.env
composer.lock
/resources/assets/bowers/
/resources/assets/css/*_scss.*
app/storage/
/public/css
/public/fonts
/public/img
/public/images
/public/js

